/// Управление отзывчивостью.
/// @access public
/// @param {String} $breakpoint - точка остановки
/// @requires $breakpoints
@mixin respond-to($breakpoint)
  @if map-has-key($breakpoints, $breakpoint)
    @media #{inspect(map-get($breakpoints, $breakpoint))}
    @content
  @else
    @error 'Не указано значение для `#{$breakpoint}`. ' + 'Пожалуйста, убедитесь, что точка остановки объявлена в карте `$breakpoints`.'

@mixin pseudo($display: block, $pos: absolute, $content: '')
  content: $content
  display: $display
  position: $pos

@mixin font-size($size)
  font-size: $size * 1px // fallback
  font-size: calc-in-rem($size) * 1rem

@mixin line-height($size)
  line-height: $size * 1px // fallback
  line-height: calc-in-rem($size) * 1rem

@mixin font-smoothing($value: antialiased)
  @if $value == antialiased
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
  @else
    -webkit-font-smoothing: subpixel-antialiased
    -moz-osx-font-smoothing: auto

=placeholder
  &::-webkit-input-placeholder
    @content
  &:-moz-placeholder
    @content
  &::-moz-placeholder
    @content
  &:-ms-input-placeholder
    @content

=vertical-center
  top: 50%
  transform: translateY(-50%)

@mixin triangle($dir: right, $size: 9, $color: #000)
  width: 0
  height: 0
  border-top: $size * 1px solid transparent
  border-bottom: $size * 1px solid transparent
  border-#{$dir}: ($size + 2) * 1px solid $color

@mixin grayscale_element($value)
  -webkit-filter: #{"grayscale(#{$value})"}
  -moz-filter: #{"grayscale(#{$value})"}
  filter: #{"grayscale(#{$value})"}