.background
  background-repeat: no-repeat

  &_promo
    position: relative
    background: transparent
    background-size: cover
    @include media('<=laptop')
      background-position: center center

  &_new-way
    background: url('../img/new-way-bg.png') no-repeat center 68%
    background-size: contain
    @include media('<=laptop')
      background-size: unset

  &_invest
    background-image: url('../img/invest-bg.png')

  &_bottom
    background: url('../img/bottom-bg.png') center top
    background-size: cover

video
  pointer-events: none

video::-webkit-media-controls
  display: none

video::-webkit-media-controls-play-button
  display: none