.contact

  &-mail
    font-family: 'museo', sans-serif
    @include font-size(12)
    &:before
      content: ''
      display: inline-block
      margin-right: 7px
      width: 10px
      height: 7px
      background: url('../img/envelope.png')

  &-phone
    padding-left: 50px
    @include font-size(30)