.contact-form
  position: relative
  padding: 38px 52px
  border: 4px none
  border-right: solid #0b988a
  border-left: solid #00fff2
  @include media('<phone')
    padding: 20px
  &:after,
  &:before
    content: ''
    position: absolute
    display: block
    height: 3px
    background: linear-gradient(to right, #00fff2, #0b988a)
    left: 0
    right: 0
  &:before
    top: 0
  &:after
    bottom: 0

  &__text
    padding-bottom: 20px
    @include font-size(22)
    font-weight: 500
    @include line-height(30)
    @include media('<=laptop')
      @include font-size(16)
      @include line-height(20)

  &__input-container
    display: flex
    flex-wrap: wrap
    padding-bottom: 24px

  &__input
    max-width: 42%
    flex-basis: 42%
    margin-right: 8%
    margin-bottom: 8px
    padding: 12px 0 12px 3px
    border: none
    background-color: transparent
    border-bottom: 1px solid #0bc9c8
    color: #fff
    @include font-size(12)
    font-weight: 500
    +placeholder
      color: #fff
      opacity: 1