.inner-text
  padding-top: 62px
  
  &_with-padding
    padding-right: 18%

  &__title
    margin-bottom: 26px
    @include font-size(32.68)
    font-weight: 500
    color: #00fff2
    text-transform: uppercase

  &__text
    @include font-size(14)
    @include line-height(24)

  &__spacer
    padding-bottom: 104px

  &__button
    margin-top: 30px