.promo
  
  &__container
    padding-top: 233px
    padding-bottom: 162px
    @include media('<phone')
      padding-top: 140px
      padding-bottom: 55px

  &__text
    @include font-size(31)
    font-weight: 300
    @include line-height(41)
    text-transform: uppercase
    &:not(:last-child)
      margin-bottom: 50px
      @include media('<phone')
        margin-bottom: 30px
    @include media('<phone')
      @include font-size(20)
      @include line-height(24)

  &__span
    font-weight: 700
    color: #00fff2
    @include media('<=iphone')
      display: block