.promo
  background-image: url('../img/promo-bg.jpg')
  background-size: cover
  
  &__container
    padding-top: 235px
    padding-bottom: 135px

  &__text
    @include font-size(31)
    font-weight: 300
    text-transform: uppercase
    &:not(:last-child)
      margin-bottom: 43px

  &__span
    font-weight: 700
    color: #00fff2