.page-content
  height: 100vh
  overflow: hidden

.container
  position: relative
  max-width: 1170px
  margin: 0 auto
  // padding: 0 15px

  &_with-sidebar
    padding-left: ($aside-width) * 1px

  &_bordered
    border-bottom: 1px solid #383838