.footer
  padding-top: 31px
  padding-bottom: 57px

  &__container
    padding-left: 104px
    padding-right: 15px
    display: flex
    align-items: center
    justify-content: space-between
    @include media('<desktop')
      padding-left: 30px
    @include media('<laptop')
      flex-wrap: wrap

  &__sign
    display: flex
    flex-direction: column
    align-items: flex-end
    @include media('<laptop')
      margin-top: 30px
      flex-basis: 100%
      align-items: center

    button:first-child
      margin-right: 12px

    &__wrapper
      margin-bottom: 19px

  &__contact
    margin-left: auto
    margin-right: 3%
    flex-basis: 22%
    @include media('<laptop')
      flex-basis: 50%
      margin-right: 0
    @include media('<phone')
      flex-basis: unset
      padding-right: 15px
    .contact-address
      margin-bottom: 16px

  .logo
    margin-top: -20px
    @include media('<laptop')
      flex-basis: 50%
    @include media('<phone')
      flex-basis: unset
