.header
  &_fixed
    position: absolute
    top: 0
    left: 0
    right: 0
    z-index: 999

  &__container
    display: flex
    justify-content: flex-start
    align-items: center
    padding-right: 15px
    @include media('<tablet')
      justify-content: space-between
    @include media('<phone')
      padding-right: 0

  &__block_left,
  &__block_right
    margin-top: 35px
  &__block_left
    padding-left: 104px
    @include media('<laptop')
      padding-left: 30px
  &__block_right
    margin-left: auto
    @include media('<phone')
      display: none

  &__sandwich
    position: relative
    display: block
    margin: 8px 6px 0
    width: 40px
    height: 40px
    border-radius: 50%
    border: 1px solid rgba(255, 255, 255, 0.51)
    cursor: pointer
    &-container
      display: flex
      flex-direction: column
      justify-content: center
      align-self: stretch
      border: 1px solid #383838
      border-top: none
      border-bottom: none
      padding-top: 35px
      @include media('<tablet')
        border: none
    &__line
      position: absolute
      display: block
      width: 17px
      height: 2px
      left: 50%
      transform: translateX(-50%)
      background-color: #fff
      &:nth-child(1)
        top: 14px
      &:nth-child(2)
        top: 18px
      &:nth-child(3)
        top: 22px

  &__contact
    display: flex
    align-items: center
    margin-bottom: 32px
    @include media('<tablet')
      flex-direction: column
      margin-bottom: 10px

  &__sign
    display: flex
    justify-content: flex-end
    .button
      &:first-child
        margin-right: 10px
      @include media('<tablet')
        min-width: 120px
