.page-block
  color: #fff
  padding: 65px 0

  &_bordered
    border-bottom: 1px solid #272727

  &_contact
    padding-bottom: 128px

  //////////////////////////////////

  &__content
    padding-left: 104px
    @include media('<desktop')
      padding-left: 30px
    @include media('<phone')
      padding-left: 15px
      padding-right: 15px
  
  &__name
    margin-bottom: 31px
    @include font-size(18)
    font-weight: 500
    text-transform: uppercase
    letter-spacing: -0.8px

  &__title
    margin-bottom: 27px
    @include font-size(48)
    font-weight: 500
    @include line-height(42.5)
    text-transform: uppercase
    @include media('<desktop')
      @include font-size(42)
    @include media('<laptop')
      @include font-size(36)
      line-height: 1
    @include media('<tablet')
      @include font-size(28)
    @include media('<phone')
      padding-right: 15px
      @include font-size(20)
    @include media('<=iphone')
      @include font-size(16)

    &__small
      display: block
      //padding-top: 10px
      @include font-size(18)
      font-weight: 300
      @include line-height(32)
      text-transform: none
      @include media('<phone')
        @include font-size(16)
        line-height: 1
      @include media('<=iphone')
        @include font-size(14)

  &__text
    margin-bottom: 32px
    @include font-size(16)
    font-weight: 300
    @include line-height(24)
