.page-block
  color: #fff
  padding: 65px 0

  &_bordered
    border-bottom: 1px solid #272727

  &__content
    padding-left: 104px
  
  &__name
    margin-bottom: 36px
    @include font-size(18)
    font-weight: 500
    text-transform: uppercase

  &__title
    margin-bottom: 40px
    @include font-size(48)
    font-weight: 500
    @include line-height(42.5)
    text-transform: uppercase

    &__small
      display: block
      @include font-size(18)
      font-weight: 300
      @include line-height(32)

  &__text
    margin-bottom: 30px
    @include font-size(16)
    font-weight: 300
    @include line-height(24)
