doctype html

html(class='no-js')

head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')

    title
        block title

    meta(name='description' content='')
    meta(name='viewport' content='width=device-width, initial-scale=1')

    link(rel='stylesheet' href='vendor.css')
    link(rel='stylesheet' href='css/style.css')

    body
        header.header.header_fixed
            .container
                .header__container
                    .header__sandwich-container
                        .header__sandwich
                            span.header__sandwich__line
                            span.header__sandwich__line
                            span.header__sandwich__line
                    .header__block_left
                        a.logo(href='#')
                            img.logo__img(src='img/logo.png')
                            p.logo__title
                                | TOTHEMOON
                                span.logo__title__fund FUND
                    .header__block_right
                        .header__contact
                            a.contact-mail(href='mailto:demo@chtoto.net') demo@chtoto.net
                            a.contact-phone(href='tel:88000000600') 8 800 0000 000
                        .header__sign
                            a(href='#')
                                button.button.button_grad-border Вход
                            a(href='#')
                                button.button.button_grad-border Регистрация
        main.page-content
            .container.container_with-sidebar
                aside.side-nav
                    block aside

            block content

            block scripts
                // Scripts
                script(src='vendor.js')
                script(src='js/utils.js')