doctype html

html(class='no-js')

head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')

    title
        block title

    meta(name='description' content='')
    meta(name='viewport' content='width=device-width, initial-scale=1')

    link(rel='stylesheet' href='vendor.css')
    link(rel='stylesheet' href='css/style.css')

    body
        .container
            header.header.header_fixed
                .header__sandwich-container
                    .header__sandwich
                        span.header__sandwich__line
                        span.header__sandwich__line
                        span.header__sandwich__line
                .header__block_left
                    a.header__logo(href='#')
                        img.header__logo__img(src='img/logo.png')
                        p.header__logo__title
                            | TOTHEMOON
                            span.header__logo__title__fund FUND
                .header__block_right
                    .header__contact
                        a.header__contact__mail(href='mailto:tothemoon@mail.ru') tothemoon@mail.ru
                        a.header__contact__phone(href='tel:88002000600') 8 800 2000 600
                    .header__sign
                        button.button.button_grad-border Вход
                        button.button.button_grad-border Регистрация
        main.page-content
            .container.container_with-sidebar
                aside.side-nav
                    .side-nav__scrollspy
                        .side-nav__scrollspy__item
                            a(href='#slide1') 01
                            span.side-nav__scrollspy__item__hidden Промо
                        .side-nav__scrollspy__item
                            a(href='#slide2') 02
                            span.side-nav__scrollspy__item__hidden Инвестиции
                        .side-nav__scrollspy__item
                            a(href='#slide3') 03
                            span.side-nav__scrollspy__item__hidden Информация
                        .side-nav__scrollspy__item
                            a(href='#slide4') 04
                            span.side-nav__scrollspy__item__hidden Новые способы
                        .side-nav__scrollspy__item
                            a(href='#slide5') 05
                            span.side-nav__scrollspy__item__hidden Как начать
                        .side-nav__scrollspy__item
                            a(href='#slide6') 06
                            span.side-nav__scrollspy__item__hidden Отзывы
                        .side-nav__scrollspy__item
                            a(href='#slide7') 07
                            span.side-nav__scrollspy__item__hidden Контакты
            block content
        // Scripts
        script(src='vendor.js')
        script(src='js/build.js')